<!DOCTYPE html>
<html>
<body bgcolor="#E6E6FA">


<h1>recetera!</h1>
<h3>this is the landing page for a recipe app i'm building.</h3>
<h3>more updates to come as I continue to learn how to build this app using Rails.</h3>
<br><br>

<p>
in the meantime, check out my cooking blog <a href="http://www.comalcaliente.com">here</a>

</html>