<!DOCTYPE html>
<html>
		<head>
		  
		</head>
    <body>
      <div id="body">
      
        <h4>this this is the landing page for a recipe app i am building using ruby on rails.</h4>
        <h4>i'll post updates here on my progress and i continue to learn.</h4>
        <br>
  
        <p id="date">
          may 22, 2014
        </p>
          
      </div>
		</body>
</html>
