<!DOCTYPE html>
<html>
	<head>
	</head>
  <body>
    <div class="jumbotron"
  <div class="container">
    <img src="https://farm4.staticflickr.com/3814/9331618404_7fb21d84a7_h.jpg">
  </div>
</div>

<div class="container body-text">
  <div class="row text-center">
    <div class="col-md-4"></div>
    <div class="col-md-4">This this is the landing page for a recipe app I am learning to build using ruby on rails. I'll post updates here on my progress as I continue to learn and make more. In the meantime, check out the blog.  I'm posting updates on my progress</div>
    <div class="col-md-4"></div>
  </div>
</div>
	</body>
</html>
