<!DOCTYPE html>
<html>
	<head>
	</head>
  <body>
    <div class=" body-text text-center">
      <h3>welcome:</h3>
      <div class="row text-justify">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          This this is the landing page for a recipe app I am learning to build using ruby on rails. I'll post updates here on my progress as I continue to learn and make more. In the meantime, check out the blog.  I'm posting updates on my progress
          <p class="date">June 5, 2014</p>
        </div>
        <div class="col-md-4"></div>
      </div>
        
    </div>
	</body>
</html>
