<!DOCTYPE html>
<html>
	<head>
	</head>
  <body>
  <div class="whole">
    <div class="container bigpic1">
    </div>

    <div class="body-text">
      <h3 class="text-center">home:</h3>

      <div class="container">
        <div class="row text-center">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">this is the landing page for a recipe app I am learning to build using ruby on rails. I'll post updates here on my progress as I continue to learn and make more. In the meantime, check out the blog.  I'm posting updates on my progress           </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>
    </div>
  </div>
	</body>
</html>
