<!DOCTYPE html>
<html>
		<head>
		  
		</head>
    <body>
      <div class="body-text">
      
        <h4>This this is the landing page for a recipe app i am building using ruby on rails.</h4>
        <p>I'll post updates here on my progress as i continue to learn and make more.</p>
        <br>
  
        <p class="date">
          may 22, 2014
        </p>
          
      </div>
		</body>

</html>
