<!DOCTYPE html>
<html>
	<head>
	</head>
  <body>
    <div class="body-text">
    <h3 class="text-center">posts</h3>
    
    <% @posts.each do |post| %>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <ul class="post-list text-justify body-text">
            <li class="post-title"><%= link_to post.title, post_path(post)  %></li>
            <li><%= post.text %></li>
          </ul>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
    <% end %>

</body>
</html>
