<h3 class="text-center post-title"><%= @post.title %></h3>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <ul class="post-list text-justify body-text">
        <li><%= simple_format @post.text %></li>
        <li><%= @post.created_at.in_time_zone("Eastern Time (US & Canada)").to_formatted_s(:long) %>
      </ul>
    </div>
    <div class="col-md-4"></div>
  </div>

