<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
    <div class="container bigpic2">
    </div>

    <div class="body-text">
      <h3 class="text-center">me:</h3>
        <div class="container">
          <div class="row text-center">
            <div class="col-md-2"></div>
            <div class="col-md-8">hey, my name is daniel.  i love to cook so my primary motivation going into this project was to build a recipe app that would help me write down recipes for various dishes i make at home.  i was also very interested in ruby/rails and have found learning these to be a very enjoyable experience.  the hope is that this can become a fully functional application that various people can use to facilitate recipe writing as well as discovering new ingredients or techniques.</div>
            <div class="col-md-2"></div>
          </div>
        </div>
      <p class="text-center">
        check out my cooking blog, <a href="http://www.comalcaliente.com">comalcaliente</a>
      </p>
    </div>
  </body>
</html>
  
		


