<!DOCTYPE html>
<html>
		<head>
		  
		</head>
    <body>
      <div id="body">
      
        <h2>me:</h2>
        <br>
        <p>
          hey, my name is daniel.  i love to cook and i want to learn ruby/rails.  my primary motivation going into this project is to build a recipe app that would help me write down recipes for various dishes i make at home. the experience has been very enjoyable so far and i'm looking forward to seeing how far this goes.
        </p>
        <br><br>
        <p>
          check out my cooking blog, <a href="http://www.comalcaliente.com">comalcaliente</a>
      </div>
		</body>
</html>