<!DOCTYPE html>
<html>
		<head>
		  
		</head>
    <body>
      <div id="body">
        <h3>me:</h3>
        <br>
        <p>
          hey, my name is daniel.  i love to cook so my primary motivation going into this project was to build a recipe app that would help me write down recipes for various dishes i make at home.  i was also very interested in ruby/rails and have found learning these to be a very enjoyable experience.  the hope is that this can become a fully functional application that various people can use to facilitate recipe writing as well as discovering new ingredients or techniques.
        </p>
        <br><br>
        <p>
          check out my cooking blog, <a href="http://www.comalcaliente.com">comalcaliente</a>
      </div>
		</body>
</html>