/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color:#E6E6FA;
}

.navbar {
  background-color:#44BB77;
  border-bottom: 3px solid #990000;
}

.navbar-default .navbar-brand {
    color: #CCDDFF;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #990000;
}

.navbar-default .navbar-nav > li > a {
    color: #CCDDFF;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #990000;
    background-color: #33AA66;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #990000;
    background-color: #33AA66;
}


.jumbotron {
  padding:0px;
}

img {
  width:100%;
  height:500px;
}

.navbar-brand {
  font-size:40px;
}

a:link {
  text-decoration:none;
}

.date {
  color:#AAAAAA;
}

.form-group {
  width:35%;
  margin-left:auto;
  margin-right:auto;
}

.textbox {
  width:500px;
  height:300px;
}

.titlebox {
  width:500px;
}

h2 {
  width:35%;
  margin-left:auto;
  margin-right:auto;
}


.post-list li {
  display:block;
}

.post-title {
  font-style:oblique;
  font-weight:bold;
}