<!DOCTYPE html>
<html>
<head>
  <title>recetera</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
      <div id="header">
          <div id="navbar pull-right">
    		    <div class="navbar-right">
    		      <a href="/"><button type="button" class="btn btn-default">Home</button></a>
    		      <a href="/about"><button type="button" class="btn btn-default">About</button></a>
    		      <a href="/posts"<button type="button" class="btn btn-default">Blog</button></a>
    	      </div>
	        </div>
        <h1>recetera!</h1>
      </div>
<%= yield %>

</body>
</html>
